{% extends 'base.html.twig' %}

{% form_theme formStock 'bootstrap_4_layout.html.twig' %}


{% block body %}
    {% if not app.user %}
        <h2>Vous devez être connecté pour ajouter et modifier des articles</h2>

    {% else %}

        {% if editMode %}
            <h1>Modification d'un article</h1>
        {% else %}
            <h1>Ajout d'un article</h1>
        {% endif %}
        
        {{ form_start(formStock) }}

        {{ form_row(formStock.Type, {'label':'Type', 'attr': {'placeholder': "Papier mat; encre cyan"}}) }}
        {{ form_row(formStock.Category, {'label':'Catégorie'}) }}
        {{ form_row(formStock.Barcode, {'label':'Code barre', 'attr': {'placeholder': "Scannez le code barre avec la scannette"}}) }}
        {{ form_row(formStock.Image, {'label':'Image du produit','attr': {'placeholder': "Url de l'image: http://..."}}) }}
        {{ form_row(formStock.Emplacement, {'label':'Emplacement','attr': {'placeholder': "Salle de stock; atelier"}}) }}
        {{ form_row(formStock.Description, {'attr': {'placeholder': "5L; unités; ramettes de 150"}}) }}
        {{ form_row(formStock.Quantite, {'label':'Quantité','attr': {'placeholder': "Quantité (non ouverts)"}}) }}
        {{ form_row(formStock.Dimensions, {'label':'Dimensions en cm² (pour supports)','attr': {'placeholder': "LONGUEUR*LARGEUR (cm²)"}}) }}
        {{ form_row(formStock.Grammage, {'label':'Grammage en g/m² (pour supports)','attr': {'placeholder': "ENTIER (g/m²)"}}) }}

        <button type="submit" class="btn btn-success">
            {% if editMode %}
                Enregistrer les modifications
            {% else %}
                Ajouter le nouvel article
            {% endif %}
        </button>

        {{ form_end(formStock) }}

    {% endif %}

    <hr>
{% endblock %}